@import "main.scss";

.carousel-inner {
    background-color: $color-background-carousel; 
    height: $size-carousel;
}

.carousel-item img{
    width: auto;
    max-width: 100%;
    max-height: $size-carousel;
    margin: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .carousel-item img {
        width: $size-carousel;
    }

    .carousel-inner {
        display: flex;
        align-items: center;
    }
}